<?xml version="1.0"?>
<!--
/**
* Digit Software Solutions.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
*
* @category  Dss
* @package   Dss_GoToCatalog
* @author    Extension Team
* @copyright Copyright (c) 2024 Digit Software Solutions. ( https://digitsoftsol.com )
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dss_GoToCatalog::menu_section" title="Go To Catalog" module="Dss_GoToCatalog" sortOrder="20"
            parent="Magento_Catalog::catalog" resource="Dss_GoToCatalog::menu_section"/>
        <add id="Dss_GoToCatalog::menu_config" title="Configuration" module="Dss_GoToCatalog" sortOrder="20"
            parent="Dss_GoToCatalog::menu_section" action="adminhtml/system_config/edit/section/Dss_gotocatalog"
            resource="Dss_GoToCatalog::menu_config" />
    </menu>
</config>
